.MuiTableSortLabel-root:hover {
	color: #20a8d8 !important;
}
.MuiTableSortLabel-root:active {
	color: #20a8d8 !important;
}
.MuiTableSortLabel-root:focus {
	color: #20a8d8 !important;
}
.MuiTableCell-body:hover {
	color: #20a8d8 !important;
}
.inMenu,.textfield{
width: 200;
}
.modal{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.paper{
  border: 2px solid #000;
}
.MuiFormControl-marginNormal {
  margin-top: 21px !important;
  margin-bottom: 0px !important; 
}
@media (max-width: 621px) {
      .outerDiv,.lowerOuterDiv{
        display: table-cell !important;
      }
      .text1,.text2,.text3,{
        margin-left: 0px !important;
      }
      .text0,.text4,.text5,.text6,.searchBarMargin{
        margin-left: 29px !important;
      }
      .tableWidth{
        width: 43% !important;
      }
}
@media (max-width: 400px) {
  .tableWidth{
    width:60% !important;
  }
  .detailInnerDiv{
    width: 300px !important;
  }

}
#he:hover{
  color: #20a8d8 !important;
}
#he1:hover{
  color: #20a8d8 !important;
}
/*  @media (max-width: 450px) { */